// Setto palette colori netflix
$primo: #DB0000;
$secondo: #000000;
$terzo: #FFFFFF;
$quarto: #564D4D;
$quinto: #831010;

// Setto font da usare in pagina

$logo-font: 'Bebas Neue', sans-serif;
$main-font: 'Helvetica', sans-serif;
